h1, h2, h3, p {
  color: black;
  font-family: 'Raleway';
}
.stat-head {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
.stat {
  color: white;
  font-family: 'Raleway';
  font-size: 45px;
}

.borders {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 5px;
  background-color: tomato;
}

.cards {
  margin-top: 32px;
}

.high {
  color: green;
}

.med {
  color: yellow;
}

.low {
  color: red;
}

.flip-container {
  perspective: 1000px;

}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0px;
  left: 0px;
}

.front {
  z-index: 2;
}


.back {
  transform: rotateY(180deg);
}

.back span {
  position: relative;
  top: 105px;
  margin-right: 5px;

}
.back a {
  position: relative;
  top: 100px;  
}




.avatar img, .pl-feed img {
    display: block;
    margin: auto;
    width: 40%;
}

.row .pl-feed{
  margin-top: 10px;
  margin-bottom: 10px;
}

.row .pl-feed-text {
  text-align: left;
}


.contact-me {
  font-size: 30px;
}

@media(min-width: 601px) and (max-width: 701px) {
  .small {
    font-size: 11px;
  }
}

@media(max-width: 601px) {
  .invisible-el {
    display: none;
  }
}




@media(min-width: 741px) {
  .invisible-el {
    display: none;
  }
}

@media(min-width: 601px) and (max-width: 741px) {
  .visible-el {
    display: none;
  }
}


@media(min-width: 1500px) {
  
  .profi {
    min-height: 550px !important;
  }

  .logo-man {
    font-size: 150px !important;
  }
  .names {
    font-size: 30px !important;
  }
  .card > p {
    font-size: 30px;
  }

  table {
    font-size: 20px;
  }

  .container p, .container h3 {
    font-size: 25px;
  }

  .back {
    font-size: 25px;
  }

  .stat-head {
    font-size: 25px;
  }

  .moments h3 {
    font-size: 30px;
  }

  .small {
    font-size: 20px;
  }

  .sm-rank {
    font-size: 15px !important;
  }
}


@media(min-width: 2500px) {
  h2 {
    font-size: 35px;
  }

  .feed-title {
    font-size: 40px !important;
  }

  .profi {
    min-height: 750px !important;
  }

  .button {
    font-size: 30px;
  }
  .names {
    font-size: 40px !important;
  }
  .card > p {
    font-size: 40px;
  }

  table {
    font-size: 35px;
  }

  .container p, .container h3 {
    font-size: 40px;
  }

  .back {
    font-size: 35px;
  }

  .stat-head {
    font-size: 40px;
  }

  .moments h3 {
    font-size: 40px;
  }

  .small {
    font-size: 30px;
  }

  .sm-rank {
    font-size: 25px !important;
  }

}


@media(min-width: 3500px) {
  .sm-rank {
    font-size: 30px !important;
  }
}

@media(min-width: 3800px) {
    .moments h3 {
    font-size: 47px;
  }

  .small {
    font-size: 40px;
  }

  .sm-rank {
    font-size: 30px !important;
  }
}